/* 
Site colour scheme: 
Deep purples and blues

#f8ff9b - Text - Pastelish yellow
#0C0032 - Range of blues VV
#190061
#240090
#3500D3
#282828 - Grey

*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Outfit:wght@100;200;300;400&display=swap');

ul {
    line-height: 20px;
}




/* CV Styling */
.cv-list-head {
    font-size: 1em;
}

.cv-list-elem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.cv-sublist {
    font-size: 0.7em;
}

.cv-perform {
    font-size: 0.7em;
}

.cv-list-date {
    font-size: .65em;
}

/* end CV Styling */


.col-centered {
    float: none;
    margin: 0 auto;
}

li.pub {
    margin-bottom: 25px;
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
}

body {
    background: #282828;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}

#nameTitle {
    color: #f8ff9b;
}

.nav-pills>li>a {
    color: #888888;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #f8ff9b;
    color: #282828;
}

.nav-pills {
    font-family: 'Outfit', sans-serif;
    font-weight: 100;
}

.nav-link:focus,
.nav-link:hover {
    color: aliceblue;
}

.project-title {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
    flex-wrap: wrap;
}

.project-date {
    padding-top: 10px;
    align-self: flex-start;
}


.proj-text {
    opacity: 0.0;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: xx-large;
    color: #f8ff9b;
    position: relative;
    top: 50%;
    z-index: 2;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* user-select: none; */
    text-align: center;
    margin: -22px;

    /* -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease; */

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: #f8ff9b;

}

header {
    background-color: #282828;
}

.header-container {
    width: 75vw;
}

.body-div {
    width: 75vw;
}


.proj-thumb {
    width: 100vw;
    height: 350px;
    object-fit: cover;
    -webkit-filter: brightness(100%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.proj:hover .proj-thumb {
    -webkit-filter: brightness(25%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.proj:hover .proj-text {
    opacity: 1.0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.proj a {
    text-decoration: none;
}

/* mobile styling */
@media only screen and (max-width: 767px) {
    .proj-text {
        margin: 0px;
    }

    .proj:hover .proj-thumb {
        border:3px solid #f8ff9b;
        -webkit-filter: brightness(100%);
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
}


/* .proj-thumb:hover {
    -webkit-filter: brightness(30%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
} */


.proj-page-thumb {
    width: 100vw;
    height: 500px;
    object-fit: cover;
}