/* 
Site colour scheme: 
Deep purples and blues

#f8ff9b - Text - Pastelish yellow
#0C0032 - Range of blues VV
#190061
#240090
#3500D3
#282828 - Grey

*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Outfit:wght@100;200;300;400&display=swap');

ul{
    line-height: 20px;
}

li.pub{
    margin-bottom: 25px;
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
}

body{
    background: #282828;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}

#nameTitle{
    color:#f8ff9b;
}

.nav-pills > li > a{
    color: #888888;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color:#f8ff9b;
    color: #282828;
}

.nav-pills{
    font-family: 'Outfit', sans-serif;
    font-weight: 100;
}

.nav-link:focus, .nav-link:hover{
    color: aliceblue;
}


h1,h2,h3,h4,h5,h6{
    font-family: 'Outfit', sans-serif;
    font-weight: 100;
    color: #f8ff9b;

}


.header-container{
    width: 75vw;
}

.body-div{
    width: 75vw;
}

/* .proj{
    object-fit: cover;
} */
